:root {
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0: hsl(0, 0%, 100%);
  --orange: hsl(28, 100%, 52%);
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}

/* DM Sans */
@font-face {
  font-family: DMSans;
  src: url(/public/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}

/* Bricolage Grotesque */
@font-face {
  font-family: Bricolage-grotesque;
  src: url(/public/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf);
}

*{
  font-size: 18px;
}

body {
  font-family: Bricolage-grotesque;
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}

button{
  color: var(--neutral-0);
  border: none;
  cursor: pointer;
}

header{
  padding: 1.5rem 5rem 1.5rem 5rem;
  display: flex;
}

.logo-box{
  flex: 1;
}

.dropdown-units-box{
  display: flex;
  align-items: center;
}

.dropdown-units{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px 12px 15px;
  background-color: var(--neutral-700);
  border-radius: 10px;
}